@charset "UTF-8";
::selection {
  background: #777;
  color: white;
}

html, body {
  height: 100vh;
  width: 100vw;
  color: #333;
  background-color: white;
  margin: 0;
  font-family: "SuisseIntl", Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  background-color: white;
  min-width: 300px;
}
@media not all and (prefers-reduced-motion: reduce) {
  html, body {
    animation: fadein 2s ease 200ms 1 normal both;
  }
}
@media (max-height: 440px), (max-width: 440px) {
  html, body {
    font-size: 10pt;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-height: 250px), (max-width: 440px) and (max-height: 380px) {
  body {
    display: unset;
  }
}

div#main {
  font-size: 1em;
  padding-left: 3rem;
  padding-right: 3rem;
}
div#main > *:not(:last-child) {
  margin-bottom: 2rem;
}
div#main h1 {
  margin: 0;
  font-size: 5.5em;
  font-weight: 350;
  line-height: 100%;
  margin-left: -4px;
  /* FIX for the "Suisse Int'l" font used */
}
div#main p {
  margin: 0;
  line-height: 1.5;
}
div#main p .tag > ion-icon {
  display: none;
}
div#main p .tag:hover > ion-icon {
  display: inline-block;
}
div#main #social {
  font-weight: 300;
}
div#main #social > *:not(:last-child) {
  margin-right: 1.5rem;
}
div#main #social .icon {
  width: 1.75rem;
}
@media (max-width: 520px) {
  div#main {
    padding-left: 5vw;
    padding-right: 0em;
  }
}

div#emailandkey {
  font-weight: 400;
  position: fixed;
  left: 0;
  margin-left: 3rem;
  bottom: 0;
  margin-bottom: 2rem;
}
div#emailandkey > *:not(:last-child) {
  margin-right: 1.5rem;
}
div#emailandkey a {
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 0.5rem;
  align-items: center;
}
@media (max-height: 500px) {
  div#emailandkey {
    left: auto;
    right: 0;
    margin-right: 3rem;
  }
  div#emailandkey > *:not(:last-child) {
    margin-right: 1.5rem;
  }
}
@media (max-width: 440px) {
  div#emailandkey {
    position: static;
    margin: 0;
    margin-top: 2em;
  }
}
@media (max-width: 520px) {
  div#emailandkey {
    padding-left: 5vw;
  }
}
div#emailandkey ion-icon {
  width: 1.5em;
  height: 1.5em;
}

.tag {
  background-color: #333;
  padding-left: 0.3em;
  padding-right: 0.3em;
  color: white;
  cursor: default;
  transition: background-color 0.5s;
}
.tag::selection {
  background: #89b0ae;
  color: white;
}
.tag:hover {
  background-color: #89b0ae;
  color: white;
}

a > .tag {
  cursor: unset;
}

.mono-text {
  font-family: "SuisseIntl mono", "SuisseIntl", Muli, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  white-space: nowrap;
}

.accent-text {
  color: #89b0ae;
  transition: color 0.3s;
}
.accent-text:hover {
  color: #333;
  transition: color 0.3s;
}

.icon {
  width: 1.5rem;
  vertical-align: middle;
}

.twemoji {
  /* Flags */
  height: 1em;
  width: 1em;
  margin: 0 0.2em 0 0.2em;
  vertical-align: -0.15em;
}
.twemoji[alt=🇨🇭] {
  height: 1.1em;
  width: 1.1em;
  vertical-align: -0.2em;
  margin-right: 0.1em;
  margin-left: -0.1em;
}

ion-icon {
  vertical-align: middle;
  width: 1.1em;
  height: 1.1em;
}

a {
  color: #333;
  text-decoration: none;
}

a.hoverlink {
  color: #333;
  text-decoration: none;
}
a.hoverlink:hover {
  color: #777;
}
@media not all and (prefers-reduced-motion: reduce) {
  a.hoverlink:hover {
    transition: all 0.3s;
  }
  a.hoverlink:hover img {
    filter: invert(51%) sepia(0%) saturate(1%) hue-rotate(2deg) brightness(90%) contrast(84%);
    /* Made to convert black to #777, using https://codepen.io/sosuke/pen/Pjoqqp */
    transition: all 0.3s;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=index.css.map */
