$main-text-color: #333;
$main-backgroung-color: white;
$main-highlight-color: #777;
$main-selection-text-color: white;
$main-accent-color:#e63946;
$font-family: "SuisseIntl",
Muli,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
Helvetica,
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";
$font-family-headline:"SuisseIntl", $font-family;
$global-left-margin: 3rem;
$transition-time: 0.3s;

::selection {
	background: $main-highlight-color;
	color: $main-selection-text-color;
}

html, body {
	height: 100vh;
	width: 100vw;
	color: $main-text-color;
	background-color: $main-backgroung-color;
	margin: 0;
	font-family: $font-family;
	font-size: 16px;
	background-color: $main-backgroung-color;

	@media not all and (prefers-reduced-motion: reduce) {
		animation: fadein 2s ease 200ms 1 normal both;
	}

	min-width: 300px;

	@media (max-height: 440px), (max-width: 440px) {
		font-size: 10pt;
	}



}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (max-height: 250px), (max-width: 440px) and (max-height: 380px) {
		display: unset;
	}
}


div#main {
	font-size: 1em;

	padding-left: $global-left-margin;
	padding-right: $global-left-margin;

	> *:not(:last-child) {
		margin-bottom: 2rem;
	}

	h1 {
		margin: 0;
		font-size: 5.5em;
		font-weight: 350;
		line-height: 100%;
		font-family: $font-family-headline;

		margin-left: -4px; /* FIX for the "Suisse Int'l" font used */
	}

	p {
		margin: 0;
		line-height: 1.5;

		.tag > ion-icon {
			display: none;
		}
		
		.tag:hover > ion-icon {
			display: inline-block;
		}
	}

	#social {
		font-weight: 300;
	
		> *:not(:last-child) {
			margin-right: 1.5rem;
		}
	
		.icon {
			width: 1.75rem;
		}
	
	}

	@media (max-width: 520px) {
		padding-left: 5vw;
		padding-right: 0em;
	}

}

div#emailandkey {
	font-weight: 400;
	position: fixed;
	left: 0;
	margin-left: $global-left-margin;
	bottom: 0;
	margin-bottom: 2rem;
	
	> *:not(:last-child) {
		margin-right: 1.5rem;
	}

	a {
		display: inline-grid;
		grid-auto-flow: column;
		column-gap: 0.5rem;
		align-items: center;
	}

	@media (max-height: 500px) {
		left: auto;
		right: 0;

		margin-right: $global-left-margin;

		> *:not(:last-child) {
			margin-right: 1.5rem;
		}

	}

	@media (max-width: 440px) {
		position: static;
		margin: 0;

		margin-top: 2em;
	}

	@media (max-width: 520px) {
		padding-left: 5vw;
	}

	ion-icon {
		width: 1.5em;
		height: 1.5em;
	}
}

.tag {
	background-color: #333;
	padding-left: 0.3em;
	padding-right: 0.3em;
	color: white;
	cursor: default;

	&::selection {
		background: $main-accent-color;
		color: $main-selection-text-color;
	}

	&:hover {
		background-color: $main-accent-color;
		color: $main-selection-text-color;
	}

	transition: background-color 0.5s;

}

a > .tag {
	cursor: unset;
}

.mono-text {
	font-family: "SuisseIntl mono",$font-family;
	font-weight: 400;
	white-space: nowrap;
}

.accent-text {
	color:$main-accent-color;
	&:hover {
		color: #333;
		transition: color $transition-time;
	}
	transition: color $transition-time;
}

.icon { 
	width: 1.5rem;
	vertical-align: middle;
}

.twemoji { /* Flags */
	height: 1em;
	width: 1em;
	margin: 0 .2em 0 .2em;
	vertical-align: -0.15em;


	&[alt="🇨🇭"] {
		height: 1.1em;
		width: 1.1em;
		vertical-align: -0.2em;
		margin-right: .1em;
		margin-left: -0.1em;
	}
}

ion-icon {
	vertical-align: middle;
	width: 1.1em;
	height: 1.1em;
}

a{
	color: $main-text-color;
	text-decoration: none;
}

a.hoverlink {
	color: $main-text-color;
	text-decoration: none;

	&:hover {
		color: $main-highlight-color;

		@media not all and (prefers-reduced-motion: reduce) {
			img {
				filter: invert(51%) sepia(0%) saturate(1%) hue-rotate(2deg) brightness(90%) contrast(84%);
				/* Made to convert black to #777, using https://codepen.io/sosuke/pen/Pjoqqp */
				transition: all $transition-time;
			}
			transition: all $transition-time;
		}
	}
}


@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}