html,
body {
    margin: 0;
    height: 100%;
    min-height: 200px;
    font-size: 1vw;
}

body {
    height: 100%;
    width: 100%;
    font-family: "SuisseIntl", arial;
    font-weight: 300;
    font-size: 1em;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "main nav";
    align-items: center;
    zoom: 1;
    background-color: white;
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 1.5px;
}

.terminal {
    font-family: Hack, muli, arial;
    text-transform: uppercase;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #0E51A7;
}

footer {
    position: absolute;
    bottom: 3%;
    margin-left: 3%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    align-items: center;
}

h1,
section {
    margin: 0;
}

.introduction {
    font-size: 8em;
    font-weight: 400;
    letter-spacing: normal;
    white-space: normal;
}

#pseudo-social-left-maring {
    font-family: Hack, muli, arial;
    color: white;
}

.not-selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::selection {
    background: #0E51A7;
    color: white;
    /* WebKit/Blink Browsers */
}

.main {
    margin-left: 5%;
}

#social a {
    margin-right: 2.5em;
}

#social a img {
    width: 2em;
    height: auto;
}

#social::selection, .icon::selection{
    background: #5482BE;
}

footer a {
    margin-right: 3em;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 100%;
    align-items: center;
}

footer a img {
    margin-right: 0.5em;
}